org.ice4j.ice.harvest.STUN_MAPPING_HARVESTER_ADDRESSES=meet-jit-si-turnrelay.jitsi.net:443

org.jitsi.jicofo.ALWAYS_TRUST_MODE_ENABLED=true

{% if jitsi_octo_enabled %}
# the address to bind to locally
org.jitsi.videobridge.octo.BIND_ADDRESS={{ jitsi_private_ip }}
# the address to advertise (in case BIND_ADDRESS is not accessible)
org.jitsi.videobridge.octo.PUBLIC_ADDRESS={{ ipify_public_ip }}
# the port to bind to
org.jitsi.videobridge.octo.BIND_PORT=4096
org.jitsi.videobridge.REGION={{ jitsi_region }}
{% endif %}

{% if ansible_host.split('.')[0] == '86' and ansible_host.split('.')[1] == '119'  %}
org.ice4j.ice.harvest.NAT_HARVESTER_LOCAL_ADDRESS={{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}
org.ice4j.ice.harvest.NAT_HARVESTER_PUBLIC_ADDRESS={{ ipify_public_ip }}
{% else %}
# with switch-net we don't need NATing anymore
{% endif %}
org.jitsi.videobridge.SINGLE_PORT_HARVESTER_PORT=10000

org.jitsi.videobridge.ENABLE_REST_SHUTDOWN=true

{% if callstats_io_appid is defined %}
# the callstats credentials
io.callstats.sdk.CallStats.appId={{ callstats_io_appid }}
io.callstats.sdk.CallStats.appSecret={{ callstats_io_secret }}
org.jitsi.videobridge.STATISTICS_INTERVAL.callstats.io=60000
io.callstats.sdk.CallStats.bridgeId={{ inventory_hostname }}
{% endif %}
# the id of the videobridge

# Enable broadcasting stats/presence in a MUC
org.jitsi.videobridge.ENABLE_STATISTICS=true
{% if callstats_io_appid is defined %}
org.jitsi.videobridge.STATISTICS_TRANSPORT=muc,colibri,rest,callstats.io
{% else %}
org.jitsi.videobridge.STATISTICS_TRANSPORT=muc,colibri,rest
{% endif %}
org.jitsi.videobridge.STATISTICS_INTERVAL=5000

{% if 'jitsi' in groups %}
{% for host in groups['jitsi'] %}
org.jitsi.videobridge.xmpp.user.shard-{{ loop.index }}.HOSTNAME={{ hostvars[host].inventory_hostname }}
org.jitsi.videobridge.xmpp.user.shard-{{ loop.index }}.DOMAIN=auth.{{ hostvars[host].inventory_hostname }}
org.jitsi.videobridge.xmpp.user.shard-{{ loop.index }}.USERNAME=jvb
org.jitsi.videobridge.xmpp.user.shard-{{ loop.index }}.PASSWORD={{ jitsi_meet_videobridge_password }}
org.jitsi.videobridge.xmpp.user.shard-{{ loop.index }}.MUC_JIDS=JvbBrewery@internal.auth.{{ hostvars[host].inventory_hostname }}
org.jitsi.videobridge.xmpp.user.shard-{{ loop.index }}.MUC_NICKNAME={{ inventory_hostname }}
org.jitsi.videobridge.xmpp.user.shard-{{ loop.index }}.DISABLE_CERTIFICATE_VERIFICATION=true
{% endfor %}
{% endif %}

{% if jitsi_masters is defined %}
{% for hostname in jitsi_masters %}
org.jitsi.videobridge.xmpp.user.shard-{{ loop.index }}.HOSTNAME={{ hostname }}
org.jitsi.videobridge.xmpp.user.shard-{{ loop.index }}.DOMAIN=auth.{{ hostname }}
org.jitsi.videobridge.xmpp.user.shard-{{ loop.index }}.USERNAME=jvb
org.jitsi.videobridge.xmpp.user.shard-{{ loop.index }}.PASSWORD={{ jitsi_meet_videobridge_password }}
org.jitsi.videobridge.xmpp.user.shard-{{ loop.index }}.MUC_JIDS=JvbBrewery@internal.auth.{{ hostname }}
org.jitsi.videobridge.xmpp.user.shard-{{ loop.index }}.MUC_NICKNAME={{ jitsi_videobridge_unique_id }}
org.jitsi.videobridge.xmpp.user.shard-{{ loop.index }}.DISABLE_CERTIFICATE_VERIFICATION=true
{% endfor %}
{% endif %}
