# Jitsi Videobridge settings

# sets the XMPP domain (default: none)
JVB_HOSTNAME={{ jitsi_home_server }}

# sets the hostname of the XMPP server (default: domain if set, localhost otherwise)
JVB_HOST=

# sets the port of the XMPP server (default: 5275)
JVB_PORT={{ jitsi_meet_videobridge_port }}

# sets the shared secret used to authenticate to the XMPP server
JVB_SECRET={{ jitsi_meet_videobridge_secret }}

# extra options to pass to the JVB daemon
JVB_OPTS="--apis=rest,"


# adds java system props that are passed to jvb (default are for home and logging config file)
JAVA_SYS_PROPS="-Dnet.java.sip.communicator.SC_HOME_DIR_LOCATION=/etc/jitsi -Dnet.java.sip.communicator.SC_HOME_DIR_NAME=videobridge -Dnet.java.sip.communicator.SC_LOG_DIR_LOCATION=/var/log/jitsi -Djava.util.logging.config.file=/etc/jitsi/videobridge/logging.properties"

# maximum memory the JVM will use (passed to jvm as -Xmx
VIDEOBRIDGE_MAX_MEMORY={{ jitsi_meet_videobridge_ram_max_mb }}m
